<h1><%= @article.title %></h1>
<p><%= image_tag @article.image.url(:medium) %></p>

<p><%= @article.body %></p>
<h3>Comments</h3>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments.reverse %>
<%= render partial: 'comments/form' %>
<!-- # <%= link_to "<< Back to Articles List", articles_path %> -->
<%= link_to "edit", edit_article_path(@article) %>
<%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1097732557015833";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-share-button" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u&amp;src=sdkpreparse">Share</a></div>

<%= link_to "Create a New Article", new_article_path, class: "new" %>
