<!DOCTYPE html>
<html>
<head>
  <title>Blogs</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>

  <%= yield %>
<div id="container">
  <div id="user_nav">

<% if user_signed_in? %>
logged in as <strong><%= current_user.email %></strong>. Not you
  <%= link_to "Edit profile", edit_user_registration_path %>
  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %>|
    <%= link_to "login", new_user_session_path %> |
<%= link_to "sign in with facebook", user_facebook_omniauth_authorize_path %> 
  <% end %>


</div>


</div>


</body>
</html>
